@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@theme {
  --animate-ticker: ticker 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
}

.prose h2,
.prose h3 {
  scroll-margin-top: 120px;
}
